section {
  .carbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    .cara {
      background-color: #54a6ff;
      overflow: hidden;
      width: 604px;
      height: 360px;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      border-radius: 8px;

      button {
        background-color: #3563e9;
        height: 44px;
        width: 120px;
        left: 0px;
        top: 180px;
        border-radius: 4px;
        padding: 0px 20px 0px 20px;
        color: white;
      }
      .divh2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-left: 24px;
        width: 272px;
        height: 200px;
        color: white;
      }
      .divimg {
        display: flex;
        justify-content: flex-end;
        img {
          width: 406px;
          height: 116px;
          z-index: 1;
        }
      }

      .box {
        background-color: #54a7ff00;
        border: 6px solid #ffffff98;
        border-radius: 50%;

        position: absolute;
      }
      .box1 {
        height: 775px;
        width: 775px;
        left: -157px;
        top: -83px;
      }
      .box2 {
        height: 650px;
        width: 650px;
        left: -95px;
        top: -20px;
      }
      .box3 {
        height: 525px;
        width: 525px;
        left: -32px;
        top: 42px;
      }
      .box4 {
        height: 400px;
        width: 400px;
        left: 30px;
        top: 105px;
      }
      .box5 {
        height: 275px;
        width: 275px;
        left: 93px;
        top: 167px;
      }
      .box6 {
        height: 150px;
        width: 150px;
        left: 155px;
        top: 230px;
      }
    }
  }
  .carb{
    background-color: #3563E9;
      overflow: hidden;
      width: 604px;
      height: 360px;
      border-radius: 8px;
      position: relative;
      .rum{
        display: flex;
        position: absolute;
        top: 0%;
        
      }
      
      
  }
}
